footer.footer 
	.container 
		.footer-top 
			.footer-column 
				a(href="index.html").footer-heading.footer-heading--logo MoGo
				p.footer-desc.text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				p.footer-follower <strong>15k</strong> Fllower
				.footer-social
					span.text Fllow Us:
					.footer-social-list
						a.footer-social-icon(href="#")
							i.fab.fa-facebook
						a.footer-social-icon(href="#")
							i.fab.fa-twitter
						a.footer-social-icon(href="#")
							i.fab.fa-instagram
						a.footer-social-icon(href="#")
							i.fab.fa-pinterest-p
						a.footer-social-icon(href="#")
							i.fab.fa-google-plus-g
						a.footer-social-icon(href="#")
							i.fab.fa-youtube
						a.footer-social-icon(href="#")
							i.fab.fa-dribbble
						a.footer-social-icon(href="#")
							i.fab.fa-tumblr
				form.footer-form(action="javascript:void(0)")
					input(type="email", placeholder="Your Email").footer-form-input
					button.footer-form-button Supcribe
			.footer-column 
				h3.footer-heading Blog
				a(href="#").footer-blog
					img.footer-blog-image(src="./images/img-blogs1.png")
					.footer-blog-info 
						h4.footer-blog-title Lorem ipsum dolor sit amet, consectetur adipiscing
						span.footer-blog-date.text.text--light Jan 9, 2016
				a(href="#").footer-blog
					img.footer-blog-image(src="./images/img-blogs2.png")
					.footer-blog-info 
						h4.footer-blog-title Lorem ipsum dolor sit amet, consectetur adipiscing
						span.footer-blog-date.text.text--light Jan 9, 2016
				a(href="#").footer-blog
					img.footer-blog-image(src="./images/img-blogs3.png")
					.footer-blog-info 
						h4.footer-blog-title Lorem ipsum dolor sit amet, consectetur adipiscing
						span.footer-blog-date.text.text--light Jan 9, 2016
			.footer-column 
				h3.footer-heading Instagram
				.footer-images
					.footer-image
						img(src="https://images.unsplash.com/photo-1633114073758-c4be9aeb15ac?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80")
					.footer-image
						img(src="https://images.unsplash.com/photo-1633113090286-3318ea2d24ae?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80")
					.footer-image
						img(src="https://images.unsplash.com/photo-1638380660786-cd17b809995e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80")
					.footer-image
						img(src="https://images.unsplash.com/photo-1638370477663-3a665ea7168d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80")
					.footer-image
						img(src="https://images.unsplash.com/photo-1633114128814-11fac33f707b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80")
					.footer-image
						img(src="https://images.unsplash.com/photo-1638403286068-e0fc0ce44ca0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80")
					.footer-image
						img(src="https://images.unsplash.com/photo-1638356550938-9345eaf84f67?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80")
					.footer-image
						img(src="https://images.unsplash.com/photo-1638383157617-7fe7933af8f1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80")
					.footer-image
						img(src="https://images.unsplash.com/photo-1638348196265-668d4fc7c545?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80")
				a(href="#").footer-images-more View more photos
		.footer-bottom &copy; 2016 MoGo free PSD template by <span>Laaqiq</span>