.quote {
  padding: 6.5rem 0;
  @include bg($gray-color);
  &-arrow {
    font-size: 3rem;
    color: $gray-dark-color;
    cursor: pointer;
    padding: 1rem 2rem;
  }
  &-item {
    padding-left: 5.5rem;
    padding-right: 5.5rem;
    @include flexbox(center);
    outline: none;
  }
  &-image {
    @include size(21rem);
    object-fit: cover;
    border-radius: 100rem;
    margin-right: 2.5rem;
  }
  &-icon {
    @include size(15rem);
    padding: 4rem;
    @include flexbox(center, center);
    border: 3px solid $third-color;
    flex-shrink: 0;
    margin-right: 6rem;
  }
  &-desc {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.6;
    font-family: $secondary-font;
    margin-bottom: 2.5rem;
    font-style: italic;
    color: $text-color;
    @include textClamp(3);
  }
  &-author {
    font-family: $third-font;
    font-size: 2.4rem;
    position: relative;
    padding-left: 7rem;
  }
  &-author::before {
    content: "";
    @include absoluteCenter("top");
    @include size(6rem, 4px);
    @include bg($primary-color);
    left: 0;
  }

  //slick slider
  .slick-initialized .slick-slide {
    display: flex;
  }
  .slick-arrow {
    background-color: transparent;
    border: 0;
    font-size: 3rem;
    color: $gray-dark-color;
    cursor: pointer;
    padding: 1rem 2rem;
    @include absoluteCenter("top");
    z-index: 10;
  }
  .slick-prev {
    left: 0;
  }
  .slick-next {
    right: 0;
  }

  @include maxWidth(767px) {
    &-arrow {
      display: none;
    }
    &-item {
      padding: 0;
      flex-direction: column;
    }
    &-icon {
      padding: 3rem;
      @include size(11rem);
      margin-right: 0;
    }
    &-info {
      margin-top: 3rem;
    }
    &-desc {
      display: block;
      font-size: 1.7rem;
      text-align: center;
    }
    &-author {
      font-size: 2rem;
    }
  }
}
